body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    padding: 60px;
    width: 660px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #1e3c72;
    margin-bottom: 25px;
}

/* 👇 ESTO ES LA CLAVE */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* botón */
button {
    width: 100%;
    padding: 12px;
    background: #1e88e5;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1565c0;
}
