{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Alumno</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'catalog/css/registro.css' %}">
</head>
<body>

    <div class="container">
        <h2>Registro de Alumno</h2>

        <form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_nombre">Nombre</label>
        {{ form.nombre }}
    </div>

    <div class="form-group">
        <label for="id_apellido_parterno">Apellido Paterno</label>
        {{ form.apellido_paterno }}
    </div>

    <div class="form-group">
        <label for="id_apellido_materno">Apellido Materno</label>
        {{ form.apellido_materno }}
    </div>

    <div class="form-group">
        <label for="id_edad">Edad</label>
        {{ form.edad }}
    </div>

    <div class="form-group">
        <label for="id_licenciatura">Licenciatura</label>
        {{ form.licenciatura }}
    </div>

    <button type="submit">Registrar</button>
</form>
    </div>

    <!-- JS -->
    <script src="{% static 'catalog/js/registro.js' %}"></script>

</body>
</html>
